[Unit]
Description=GitHub Actions Runner
After=network.target

[Service]
ExecStart=/home/samuel/actions-runner/run.sh
WorkingDirectory=/home/samuel/actions-runner
Restart=always
RestartSec=3
User=samuel

[Install]
WantedBy=multi-user.target