[Unit]
Description=Oven UI Kiosk
After=graphical.target

[Service]
User=samuel
ExecStart=/home/smart-oven/oven-kiosk.sh
Restart=no

[Install]
WantedBy=multi-user.target