[Unit]
Description=Oven UI Kiosk
After=network-online.target

[Service]
User=samuel

# Point Chromium to the active display/session
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/%U

ExecStart=/usr/bin/chromium-browser \
  --user-data-dir=/tmp/kiosk-profile \
  --kiosk \
  --incognito \
  --start-fullscreen \
  --noerrdialogs \
  --disable-restore-session-state \
  --enable-features=UseOzonePlatform \
  --ozone-platform-hint=auto \
  http://localhost:3000

Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target

