[Unit]
Description=Oven Frontend (static server)
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/smart-oven/frontend
ExecStart=/usr/bin/env serve -s /home/smart-oven/frontend -l 3000
Restart=no
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
